<mat-card class="cardSearch">
    <div class="titleAndButton">
        <h2>Looking for a room</h2>
        <button 
            mat-raised-button
            color="primary" 
            (click)="goBack()">
            BACK
        </button>
    </div>
    
    <div>
        <form [formGroup]="form">
            <mat-form-field [color]="colorControl.value" appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                  <input matStartDate formControlName="check_in" placeholder="Check In">
                  <input matEndDate formControlName="check_out" placeholder="Check Out">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error 
                    *ngIf="form.get('check_in').errors && form.get('check_in').hasError('required') 
                        || form.get('check_out').errors && form.get('check_out').hasError('required')">
                    *This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label> People </mat-label>
                <input
                    matInput 
                    type="number"
                    formControlName="number_of_guest"
                    placeholder=""/>
                <mat-error 
                    *ngIf="form.get('number_of_guest').errors && form.get('number_of_guest').hasError('required')">
                    *This field is required
                </mat-error>
                <mat-error 
                    *ngIf="form.get('number_of_guest').errors && form.get('number_of_guest').hasError('min')">
                    *Minimum 1 guest
                </mat-error>
                <mat-error 
                    *ngIf="form.get('number_of_guest').errors && form.get('number_of_guest').hasError('max')">
                    *Maximum 4 guests
                </mat-error>
            </mat-form-field>
        </form>
        <div class="divButton">
            <button 
                [disabled]="!(form.valid && !form.untouched)"
                mat-raised-button
                color="primary" 
                (click)="search()"> 
                SEARCH 
            </button>
        </div>
    </div>
</mat-card>
<mat-card class="cardRooms">
    <div *ngIf="roomAvailableList.length > 0"  class="roomsCardContainer">
        <h2 class="h2">Available Rooms</h2>
        <ng-container *ngFor="let room of roomAvailableList">
            <app-room-card
                [room]="room"
                (bookingEvent)="bookingEvent($event)">
            </app-room-card>
        </ng-container>
    </div>
</mat-card>
