<div class="divCards">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{ roomType }}</mat-card-title>
          <mat-card-subtitle>{{ checkIn }} - {{ checkOut }}</mat-card-subtitle>
          <img mat-card-xl-image src="{{imageUrl}}" >
        </mat-card-title-group>
        <mat-card-content>
            <ul>
                <li>
                    Total Price {{ roomTotalPrice }} €
                </li>
                <li>
                    Total nights {{ roomTotalNights }}
                </li>
                <li>
                    Price per night {{ roomPricePerNight }} €
                </li>
                <li>
                    Room availables {{ roomAvailable }}
                </li>                
            </ul>
        </mat-card-content>
        <mat-card-actions class="divButton">
            <button mat-raised-button color="primary" (click)="booking(room)">BOOKING</button>
          </mat-card-actions>
    </mat-card>
</div>

