.divButton{
    display: flex;
    justify-content: flex-end;
}

.cardContent{
    margin-top: 2rem;
}

mat-card{
    padding: 2rem;
    height: 100%;
}

mat-form-field{
    margin: 1rem;  
}

.roomsCardContainer{
    display: flex;
    justify-content: center;
}